In [1]:
import logging as log
import sqlite3

logger = log.getLogger('Logger_Penilaian_Mahasiswa')
log.basicConfig(level=log.DEBUG,
                    filename='__app.log',
                    filemode='w',
                    format='%(asctime)s - %(levelname)s - %(message)s',
                    datefmt='%Y-%m-%d %H:%M:%S')

cdb = sqlite3.connect("mahasiswa.db")
cursor = cdb.cursor()

cursor.executescript('''
    CREATE TABLE IF NOT EXISTS mhsmain (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL
    );

    CREATE TABLE IF NOT EXISTS mhsnilai (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        id_mhs INTEGER,
        nilai REAL,
        FOREIGN KEY(id_mhs) REFERENCES mhsmain(id)
    );
''')

admin = input("Masukkan nama anda (penginput data) :")

def isInValid(score):
    return not (0 <= score <= 100)

while True:   

    name = input("Masukkan nama mahasiswa: ") 
    try:
        score = float(input("Masukkan nilai mahasiswa (0-100): "))
        
    except ValueError:
        print("Input nilai harus berupa angka.")
        log.error(f"Input nilai tidak valid untuk {name}.")

    if isInValid(score):
        print("Nilai harus berada di antara 0 hingga 100.")
        log.error(f"Nilai {name} tidak valid: {score}")
    

    cursor.execute("INSERT INTO mhsmain (name) VALUES (?)", (name,))
    mahasiswa_id = cursor.lastrowid

    cursor.execute("INSERT INTO mhsnilai (id_mhs, nilai) VALUES (?, ?)", (mahasiswa_id, score))

    log.debug(f"User {admin} - Input Data - {name} : {score}")

    cdb.commit()
    log.info(f"Data nilai untuk {name} berhasil disimpan.")

    if input("Ulang lagi (y/t)? ").lower() == "t":
        cdb.close()
        break

Input nilai harus berupa angka.

NameError: name 'score' is not defined

In [14]:
import sqlite3

cdb = sqlite3.connect("mahasiswa.db")
cursor = cdb.cursor()

cursor.execute("SELECT * FROM mhsmain")
data = cursor.fetchall()
for id, name in data:
  print(f"{id} => {name}")

cdb.close()

1 => intan
2 => alfian

In [15]:
import sqlite3

cdb = sqlite3.connect("mahasiswa.db")
cursor = cdb.cursor()

cursor.execute("SELECT * FROM mhsnilai")
dataVal = cursor.fetchall()
for id,id_mhs, nilai in dataVal:
  print(f"Mahasiswa dengan ID {id_mhs} memiliki nilai {nilai}")

cdb.close()

Mahasiswa dengan ID 1 memiliki nilai 89.0
Mahasiswa dengan ID 2 memiliki nilai 99.7

In [12]:
import sqlite3

cdb = sqlite3.connect("mahasiswa.db")
cursor = cdb.cursor()

cursor.execute("DROP TABLE mhsmain")
cursor.execute("DROP TABLE mhsnilai")

cdb.close()